<body>
    <div class="banner">
        <img src="https://static.wixstatic.com/media/98d749_559b74b80b324ab6973fa73023d6d565~mv2.png/v1/fill/w_123,h_70,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/LOGO-BLANCO.png" alt="La Salle logo">



            <p>Bienvenidos a la página web de la Unidad Educativa Particular Hermano Miguel De La Salle,
                 obra lasallista fundada en mayo de 1863, en cuyas aulas se han formado hombres y mujeres de gran valía,
                  destacándose nuestro Santo Patrono el Hermano Miguel, por historia somos pioneros en múltiples propuestas educativas,
                   deportivas y culturales, contamos con la certificación de EFQM a la gestión de calidad y
                    a partir del año lectivo 2021 – 2022 implementaremos el Programa de Diploma del Bachillerato
                     Internacional, nos adaptamos a las exigencias locales y mundiales para seguir ofreciendo calidad, 
                     en base a nuestro valores, Fe, Fraternidad, Servicio, Justicia y Compromiso, formamos ciudadanos para el mundo.</p>
            <p>"¡Viva Jesús en nuestros corazones!</p>
            <p>¡Por siempre!</p>
        </div>
    </body>
    