
<body>
    <div class="container">
        <button class="btn">DA CLICK EN EL BOTÓN PARA INGRESAR <br> AÑO LECTIVO 2023 - 2024</button>
        <div class="card">
            <h2>MATRÍCULAS</h2>
            <div class="row">
                <div class="video">

                    <p>VIDEO EXPLICATIVO</p>
                </div>
                <div class="info">
                    <h3>INFORMACIÓN DE CALENDARIO</h3>
                </div>
            </div>
            <div class="row">
                <div class="uniform">
                    <p>USO DE UNIFORMES</p>
                </div>
                <div class="hide">
                    <h3>HIDLE PROCESO DE MATRICULACIÓN</h3>
                </div>
            </div>
        </div>
    </div>
</body>
