<body>
    
    <div class="container">
        <div class="card">
            <div class="icon"><i class="fas fa-seedling"></i></div>
            <div class="content">
                <h2>Inicial 2</h2>
                <p>Las primeras experiencias educativas son las mas importantes para nuestros niños y niñas, y que sientan las bases para su aprendizaje.</p>
            </div>
        </div>
        <div class="card">
            <div class="icon"><i class="fas fa-graduation-cap"></i></div>
            <div class="content">
                <h2>Básica Media</h2>
                <p>Cada año en nuestra Institución el grupo de Educación General Básica Media en colaboración de: Autoridades, Docentes, Estudiantes y Padres de Familia</p>
            </div>
        </div>
        <div class="card">
            <div class="icon"><i class="fas fa-user-graduate"></i></div>
            <div class="content">
                <h2>Preparatoria</h2>
                <p>La Unidad Educativa Hermano Miguel De La Salle en su oferta académica del Subnivel de Educación General Básica Preparatoria, dirigido a niños de 5 años de edad.</p>
            </div>
        </div>
        <div class="card">
            <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
            <div class="content">
                <h2>Básica Superior</h2>
                <p>La Unidad Educativa Particular Hermano Miguel De La Salle de Cuenca, en el nivel de Básica superior, brinda a sus estudiantes una educación humana y cristiana de calidad</p>
            </div>
        </div>
        <div class="card">
            <div class="icon"><i class="fas fa-user-friends"></i></div>
            <div class="content">
                <h2>Elemental</h2>
                <p>La Unidad Educativa Hermano Miguel De La Salle en su oferta del Subnivel de Educación General Básica Elemental, dirigida a estudiantes de entre 6 y 8 años de edad.</p>
            </div>
        </div>
        <div class="card">
            <div class="icon"><i class="fas fa-briefcase"></i></div>
            <div class="content">
                <h2>Bachillerato</h2>
                <p>La Unidad Educativa Particular Hermano Miguel De La Salle en su oferta del nivel de Bachillerato General Unificado, dirigido a estudiantes de entre 14 y 17 años</p>
            </div>
        </div>
        <div class="card">
            <div class="icon"><i class="fas fa-globe-americas"></i></div>
            <div class="content">
                <h2>Bachillerato Internacional</h2>
                <p>El Bachillerato Internacional tiene como meta formar jóvenes solidarios, informados y ávidos de conocimiento, capaces de contribuir a crear un mundo mejor y más pacífico, en el marco del entendimiento mutuo y el respeto intercultural.</p>
            </div>
        </div>
    </div>
</body>
