<body>
	<header>
		<div class="logo">
			<img src="https://static.wixstatic.com/media/98d749_559b74b80b324ab6973fa73023d6d565~mv2.png/v1/fill/w_123,h_70,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/LOGO-BLANCO.png" alt="La Salle logo">
		</div>
		<nav>
			<ul>
				<li><a href="#inicial">Inicial</a></li>
				<li><a href="#basica-media">Básica Media</a></li>
				<li><a href="#preparatoria">Preparatoria</a></li>
				<li><a href="#basica-superior">Básica Superior</a></li>
				<li><a href="#bachillerato">Bachillerato</a></li>
			</ul>
		</nav>
